.g-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .g-container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .g-container {
      width: 970px;
    }
  }
  
  /*
  @media (min-width: 1670px) {
    .g-container {
      width: 1600px;
    }
  }
  */
  
  @media (min-width: 1200px) {
    .g-container {
      width: 1170px;
    }
  }
  
  
  
  .img-circle {
    border-radius: 50%;
  }
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .g-marketing .g-col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .g-marketing h2 {
    font-weight: normal;
  }
  .g-marketing .g-col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  /* Center align the text within the three columns below the carousel */
  .g-marketing .g-col-lg-2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .g-marketing h2 {
    font-weight: normal;
  }
  .g-marketing .g-col-lg-2 p {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }
  
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EFC000;
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
  
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 992px) {
    .featurette-heading {
      /* margin-top: 120px; */
      margin-top: 80px;
    }
  }
  
  .text-muted {
    color: #777;
  }
  
  .g-row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .g-col-xs-1, .g-col-sm-1, .g-col-md-1, .g-col-lg-1, .g-col-xs-2, .g-col-sm-2, .g-col-md-2, .g-col-lg-2, .g-col-xs-3, .g-col-sm-3, .g-col-md-3, .g-col-lg-3, .g-col-xs-4, .g-col-sm-4, .g-col-md-4, .g-col-lg-4, .g-col-xs-5, .g-col-sm-5, .g-col-md-5, .g-col-lg-5, .g-col-xs-6, .g-col-sm-6, .g-col-md-6, .g-col-lg-6, .g-col-xs-7, .g-col-sm-7, .g-col-md-7, .g-col-lg-7, .g-col-xs-8, .g-col-sm-8, .g-col-md-8, .g-col-lg-8, .g-col-xs-9, .g-col-sm-9, .g-col-md-9, .g-col-lg-9, .g-col-xs-10, .g-col-sm-10, .g-col-md-10, .g-col-lg-10, .g-col-xs-11, .g-col-sm-11, .g-col-md-11, .g-col-lg-11, .g-col-xs-12, .g-col-sm-12, .g-col-md-12, .g-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .g-col-xs-1, .g-col-xs-2, .g-col-xs-3, .g-col-xs-4, .g-col-xs-5, .g-col-xs-6, .g-col-xs-7, .g-col-xs-8, .g-col-xs-9, .g-col-xs-10, .g-col-xs-11, .g-col-xs-12 {
    float: left;
  }
  .g-col-xs-12 {
    width: 100%;
  }
  .g-col-xs-11 {
    width: 91.66666667%;
  }
  .g-col-xs-10 {
    width: 83.33333333%;
  }
  .g-col-xs-9 {
    width: 75%;
  }
  .g-col-xs-8 {
    width: 66.66666667%;
  }
  .g-col-xs-7 {
    width: 58.33333333%;
  }
  .g-col-xs-6 {
    width: 50%;
  }
  .g-col-xs-5 {
    width: 41.66666667%;
  }
  .g-col-xs-4 {
    width: 33.33333333%;
  }
  .g-col-xs-3 {
    width: 25%;
  }
  .g-col-xs-2 {
    width: 16.66666667%;
  }
  .g-col-xs-1 {
    width: 8.33333333%;
  }
  .g-col-xs-pull-12 {
    right: 100%;
  }
  .g-col-xs-pull-11 {
    right: 91.66666667%;
  }
  .g-col-xs-pull-10 {
    right: 83.33333333%;
  }
  .g-col-xs-pull-9 {
    right: 75%;
  }
  .g-col-xs-pull-8 {
    right: 66.66666667%;
  }
  .g-col-xs-pull-7 {
    right: 58.33333333%;
  }
  .g-col-xs-pull-6 {
    right: 50%;
  }
  .g-col-xs-pull-5 {
    right: 41.66666667%;
  }
  .g-col-xs-pull-4 {
    right: 33.33333333%;
  }
  .g-col-xs-pull-3 {
    right: 25%;
  }
  .g-col-xs-pull-2 {
    right: 16.66666667%;
  }
  .g-col-xs-pull-1 {
    right: 8.33333333%;
  }
  .g-col-xs-pull-0 {
    right: auto;
  }
  .g-col-xs-push-12 {
    left: 100%;
  }
  .g-col-xs-push-11 {
    left: 91.66666667%;
  }
  .g-col-xs-push-10 {
    left: 83.33333333%;
  }
  .g-col-xs-push-9 {
    left: 75%;
  }
  .g-col-xs-push-8 {
    left: 66.66666667%;
  }
  .g-col-xs-push-7 {
    left: 58.33333333%;
  }
  .g-col-xs-push-6 {
    left: 50%;
  }
  .g-col-xs-push-5 {
    left: 41.66666667%;
  }
  .g-col-xs-push-4 {
    left: 33.33333333%;
  }
  .g-col-xs-push-3 {
    left: 25%;
  }
  .g-col-xs-push-2 {
    left: 16.66666667%;
  }
  .g-col-xs-push-1 {
    left: 8.33333333%;
  }
  .g-col-xs-push-0 {
    left: auto;
  }
  .g-col-xs-offset-12 {
    margin-left: 100%;
  }
  .g-col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .g-col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .g-col-xs-offset-9 {
    margin-left: 75%;
  }
  .g-col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .g-col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .g-col-xs-offset-6 {
    margin-left: 50%;
  }
  .g-col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .g-col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .g-col-xs-offset-3 {
    margin-left: 25%;
  }
  .g-col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .g-col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .g-col-xs-offset-0 {
    margin-left: 0;
  }
  @media (min-width: 768px) {
    .g-col-sm-1, .g-col-sm-2, .g-col-sm-3, .g-col-sm-4, .g-col-sm-5, .g-col-sm-6, .g-col-sm-7, .g-col-sm-8, .g-col-sm-9, .g-col-sm-10, .g-col-sm-11, .g-col-sm-12 {
      float: left;
    }
    .g-col-sm-12 {
      width: 100%;
    }
    .g-col-sm-11 {
      width: 91.66666667%;
    }
    .g-col-sm-10 {
      width: 83.33333333%;
    }
    .g-col-sm-9 {
      width: 75%;
    }
    .g-col-sm-8 {
      width: 66.66666667%;
    }
    .g-col-sm-7 {
      width: 58.33333333%;
    }
    .g-col-sm-6 {
      width: 50%;
    }
    .g-col-sm-5 {
      width: 41.66666667%;
    }
    .g-col-sm-4 {
      width: 33.33333333%;
    }
    .g-col-sm-3 {
      width: 25%;
    }
    .g-col-sm-2 {
      width: 16.66666667%;
    }
    .g-col-sm-1 {
      width: 8.33333333%;
    }
    .g-col-sm-pull-12 {
      right: 100%;
    }
    .g-col-sm-pull-11 {
      right: 91.66666667%;
    }
    .g-col-sm-pull-10 {
      right: 83.33333333%;
    }
    .g-col-sm-pull-9 {
      right: 75%;
    }
    .g-col-sm-pull-8 {
      right: 66.66666667%;
    }
    .g-col-sm-pull-7 {
      right: 58.33333333%;
    }
    .g-col-sm-pull-6 {
      right: 50%;
    }
    .g-col-sm-pull-5 {
      right: 41.66666667%;
    }
    .g-col-sm-pull-4 {
      right: 33.33333333%;
    }
    .g-col-sm-pull-3 {
      right: 25%;
    }
    .g-col-sm-pull-2 {
      right: 16.66666667%;
    }
    .g-col-sm-pull-1 {
      right: 8.33333333%;
    }
    .g-col-sm-pull-0 {
      right: auto;
    }
    .g-col-sm-push-12 {
      left: 100%;
    }
    .g-col-sm-push-11 {
      left: 91.66666667%;
    }
    .g-col-sm-push-10 {
      left: 83.33333333%;
    }
    .g-col-sm-push-9 {
      left: 75%;
    }
    .g-col-sm-push-8 {
      left: 66.66666667%;
    }
    .g-col-sm-push-7 {
      left: 58.33333333%;
    }
    .g-col-sm-push-6 {
      left: 50%;
    }
    .g-col-sm-push-5 {
      left: 41.66666667%;
    }
    .g-col-sm-push-4 {
      left: 33.33333333%;
    }
    .g-col-sm-push-3 {
      left: 25%;
    }
    .g-col-sm-push-2 {
      left: 16.66666667%;
    }
    .g-col-sm-push-1 {
      left: 8.33333333%;
    }
    .g-col-sm-push-0 {
      left: auto;
    }
    .g-col-sm-offset-12 {
      margin-left: 100%;
    }
    .g-col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .g-col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .g-col-sm-offset-9 {
      margin-left: 75%;
    }
    .g-col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .g-col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .g-col-sm-offset-6 {
      margin-left: 50%;
    }
    .g-col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .g-col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .g-col-sm-offset-3 {
      margin-left: 25%;
    }
    .g-col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .g-col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .g-col-sm-offset-0 {
      margin-left: 0;
    }
  }
  @media (min-width: 992px) {
    .g-col-md-1, .g-col-md-2, .g-col-md-3, .g-col-md-4, .g-col-md-5, .g-col-md-6, .g-col-md-7, .g-col-md-8, .g-col-md-9, .g-col-md-10, .g-col-md-11, .g-col-md-12 {
      float: left;
    }
    .g-col-md-12 {
      width: 100%;
    }
    .g-col-md-11 {
      width: 91.66666667%;
    }
    .g-col-md-10 {
      width: 83.33333333%;
    }
    .g-col-md-9 {
      width: 75%;
    }
    .g-col-md-8 {
      width: 66.66666667%;
    }
    .g-col-md-7 {
      width: 58.33333333%;
    }
    .g-col-md-6 {
      width: 50%;
    }
    .g-col-md-5 {
      width: 41.66666667%;
    }
    .g-col-md-4 {
      width: 33.33333333%;
    }
    .g-col-md-3 {
      width: 25%;
    }
    .g-col-md-2 {
      width: 16.66666667%;
    }
    .g-col-md-1 {
      width: 8.33333333%;
    }
    .g-col-md-pull-12 {
      right: 100%;
    }
    .g-col-md-pull-11 {
      right: 91.66666667%;
    }
    .g-col-md-pull-10 {
      right: 83.33333333%;
    }
    .g-col-md-pull-9 {
      right: 75%;
    }
    .g-col-md-pull-8 {
      right: 66.66666667%;
    }
    .g-col-md-pull-7 {
      right: 58.33333333%;
    }
    .g-col-md-pull-6 {
      right: 50%;
    }
    .g-col-md-pull-5 {
      right: 41.66666667%;
    }
    .g-col-md-pull-4 {
      right: 33.33333333%;
    }
    .g-col-md-pull-3 {
      right: 25%;
    }
    .g-col-md-pull-2 {
      right: 16.66666667%;
    }
    .g-col-md-pull-1 {
      right: 8.33333333%;
    }
    .g-col-md-pull-0 {
      right: auto;
    }
    .g-col-md-push-12 {
      left: 100%;
    }
    .g-col-md-push-11 {
      left: 91.66666667%;
    }
    .g-col-md-push-10 {
      left: 83.33333333%;
    }
    .g-col-md-push-9 {
      left: 75%;
    }
    .g-col-md-push-8 {
      left: 66.66666667%;
    }
    .g-col-md-push-7 {
      left: 58.33333333%;
    }
    .g-col-md-push-6 {
      left: 50%;
    }
    .g-col-md-push-5 {
      left: 41.66666667%;
    }
    .g-col-md-push-4 {
      left: 33.33333333%;
    }
    .g-col-md-push-3 {
      left: 25%;
    }
    .g-col-md-push-2 {
      left: 16.66666667%;
    }
    .g-col-md-push-1 {
      left: 8.33333333%;
    }
    .g-col-md-push-0 {
      left: auto;
    }
    .g-col-md-offset-12 {
      margin-left: 100%;
    }
    .g-col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .g-col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .g-col-md-offset-9 {
      margin-left: 75%;
    }
    .g-col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .g-col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .g-col-md-offset-6 {
      margin-left: 50%;
    }
    .g-col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .g-col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .g-col-md-offset-3 {
      margin-left: 25%;
    }
    .g-col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .g-col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .g-col-md-offset-0 {
      margin-left: 0;
    }
  }
  @media (min-width: 1200px) {
    .g-col-lg-1, .g-col-lg-2, .g-col-lg-3, .g-col-lg-4, .g-col-lg-5, .g-col-lg-6, .g-col-lg-7, .g-col-lg-8, .g-col-lg-9, .g-col-lg-10, .g-col-lg-11, .g-col-lg-12 {
      float: left;
    }
    .g-col-lg-12 {
      width: 100%;
    }
    .g-col-lg-11 {
      width: 91.66666667%;
    }
    .g-col-lg-10 {
      width: 83.33333333%;
    }
    .g-col-lg-9 {
      width: 75%;
    }
    .g-col-lg-8 {
      width: 66.66666667%;
    }
    .g-col-lg-7 {
      width: 58.33333333%;
    }
    .g-col-lg-6 {
      width: 50%;
    }
    .g-col-lg-5 {
      width: 41.66666667%;
    }
    .g-col-lg-4 {
      width: 33.33333333%;
    }
    .g-col-lg-3 {
      width: 25%;
    }
    .g-col-lg-2 {
      width: 16.66666667%;
    }
    .g-col-lg-1 {
      width: 8.33333333%;
    }
    .g-col-lg-pull-12 {
      right: 100%;
    }
    .g-col-lg-pull-11 {
      right: 91.66666667%;
    }
    .g-col-lg-pull-10 {
      right: 83.33333333%;
    }
    .g-col-lg-pull-9 {
      right: 75%;
    }
    .g-col-lg-pull-8 {
      right: 66.66666667%;
    }
    .g-col-lg-pull-7 {
      right: 58.33333333%;
    }
    .g-col-lg-pull-6 {
      right: 50%;
    }
    .g-col-lg-pull-5 {
      right: 41.66666667%;
    }
    .g-col-lg-pull-4 {
      right: 33.33333333%;
    }
    .g-col-lg-pull-3 {
      right: 25%;
    }
    .g-col-lg-pull-2 {
      right: 16.66666667%;
    }
    .g-col-lg-pull-1 {
      right: 8.33333333%;
    }
    .g-col-lg-pull-0 {
      right: auto;
    }
    .g-col-lg-push-12 {
      left: 100%;
    }
    .g-col-lg-push-11 {
      left: 91.66666667%;
    }
    .g-col-lg-push-10 {
      left: 83.33333333%;
    }
    .g-col-lg-push-9 {
      left: 75%;
    }
    .g-col-lg-push-8 {
      left: 66.66666667%;
    }
    .g-col-lg-push-7 {
      left: 58.33333333%;
    }
    .g-col-lg-push-6 {
      left: 50%;
    }
    .g-col-lg-push-5 {
      left: 41.66666667%;
    }
    .g-col-lg-push-4 {
      left: 33.33333333%;
    }
    .g-col-lg-push-3 {
      left: 25%;
    }
    .g-col-lg-push-2 {
      left: 16.66666667%;
    }
    .g-col-lg-push-1 {
      left: 8.33333333%;
    }
    .g-col-lg-push-0 {
      left: auto;
    }
    .g-col-lg-offset-12 {
      margin-left: 100%;
    }
    .g-col-lg-offset-11 {
      margin-left: 91.66666667%;
    }
    .g-col-lg-offset-10 {
      margin-left: 83.33333333%;
    }
    .g-col-lg-offset-9 {
      margin-left: 75%;
    }
    .g-col-lg-offset-8 {
      margin-left: 66.66666667%;
    }
    .g-col-lg-offset-7 {
      margin-left: 58.33333333%;
    }
    .g-col-lg-offset-6 {
      margin-left: 50%;
    }
    .g-col-lg-offset-5 {
      margin-left: 41.66666667%;
    }
    .g-col-lg-offset-4 {
      margin-left: 33.33333333%;
    }
    .g-col-lg-offset-3 {
      margin-left: 25%;
    }
    .g-col-lg-offset-2 {
      margin-left: 16.66666667%;
    }
    .g-col-lg-offset-1 {
      margin-left: 8.33333333%;
    }
    .g-col-lg-offset-0 {
      margin-left: 0;
    }
  }